<p id="notice"><%= notice %></p>

<p>
  <strong>Article:</strong>
  <%= @blog.article %>
</p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= @blog.image_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @blog.date %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @blog.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @blog.lng %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
