<main class="container">
  <p id="notice"><%= notice %></p>
  
  <h1><%= @blog.title %></h1>
  <h3><%= @blog.date.strftime("Written %m/%d/%y") %></h3>
  
  <% if @blog.image %>
    <figure class="cover">
      <%= image_tag @blog.image %>
    </figure>
  <% end %>
  
  <%= markdown(@blog.article) %>
  
  <%= link_to '<button> Back </button>'.html_safe, blogs_path %>
</main>
