<!-- Banner -->
<section id="banner">
  <div class="content">
    <header>
      <h1> Rj Travels 
        <br /> South America</h1>
    </header>
    <p> I’m currently getting ready to leave backpacking South America! The plan at the moment is to start in Colombia and make my way to Patagonia. The countries I will be visiting are Colombia, Ecuador, Perú, Bolivia, Chile and Argentina. If time allows I will also visit Brazil and if, and I realize that it's a very big if, Venezuela gets safer then I will pay home a visit too.  </p>
    <ul class="actions">
      <li><a href="/about" class="button big">Learn More</a></li>
    </ul>
  </div>
  <span class="image object">
    <%= image_tag "cover.jpg" %>
  </span>
</section>

<!-- Section -->
<section>
  <header class="major">
    <h2>Information</h2>
  </header>
  <div class="features">
    <article>
      <a href="/blogs"><span class="icon fa-paper-plane"></span></a>
      <div class="content">
        <h3><a href="/blogs">Blog</a></h3>
        <p>All blog entries to date.</p>
      </div>
    </article>
    <article>
      <a href="/gallery"><span class="icon fa-file-image-o"></span></a>
      <div class="content">
        <h3><a href="/gallery">Gallery</a></h3>
        <p>For those who hate reading. Here you’ll find pictures by country.</p>
      </div>
    </article>
    <article>
      <a href="#"><span class="icon fa-map"></span></a>
      <div class="content">
        <h3><a href="#">Map (Coming Soon)</a></h3>
        <p>An up to date map of where I am as of my last post, my current trip and where I’ve been.</p>
      </div>
    </article>
    <article>
      <a href="/about"><span class="icon fa-user"></span></a>
      <div class="content">
        <h3><a href="/about">About Me</a></h3>
        <p>Learn more about me and where I come from.</p>
      </div>
    </article>
  </div>
</section>

<!-- Section -->
<section>
  <header class="major">
    <a href="/blogs"><h2>Blog Posts</h2></a>
  </header>
  <div class="posts">
    <% @blogs.each do |blog| %>
      <article>
        <figure class="thumbnail">
          <%= image_tag blog.image != nil && blog.image != '' ? blog.image : 'https://s3.amazonaws.com/colombia-rj-travels/default.jpg'%>
        </figure>
        <h3><%= blog.title %></h3>
        <h6><%= blog.date.strftime("%m/%d") %></h6>
        <p><%= blog.article.first(400) + '...' %></p>
        <ul class="actions">
          <li> <td><%= link_to '<button> More </button>'.html_safe, blog %></td> </li>
        </ul>
      </article>
    <%end %>
  </div>
</section>
