<!DOCTYPE html>
<html>
  <head>
    <title>RjTravels</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'icon.png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Wrapper -->
    <div id="wrapper">

      <!-- Main -->
      <div id="main">
        <div class="inner">

          <!-- Header -->
          <header id="header">
            <a href="/" class="logo"><strong>Rj</strong>Travels</a>
            <ul class="icons">
              <li><a href="https://www.facebook.com/rjortega" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
              <li><a href="https://www.instagram.com/ricardo_ortega/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
              <li><a href="mailto:rikrdo.ortega@gmail.com" class="icon fa-envelope-o"><span class="label">Envelope</span></a></li>
            </ul>
          </header>
          <%= yield %>
        </div>
      </div>

      <!-- Sidebar -->
      <div id="sidebar">
        <div class="inner">

          <!-- Search -->
          <%# <section id="search" class="alt"> %>
            <%#   <form method="post" action="#"> %>
              <%#     <input type="text" name="query" id="query" placeholder="Search" /> %>
              <%#   </form> %>
            <%# </section> %>

          <!-- Menu -->
          <nav id="menu">
            <header class="major">
              <h2>Menu</h2>
            </header>
            <ul>
              <li><a href="/">Homepage</a></li>
              <li><a href="/blogs">Blog Entries</a></li>
              <li><a href="/about">About Me</a></li>
              <li>
                <span class="opener">Gallery (Coming Soon)</span>
                <ul>
                  <li><a href="#">Colombia</a></li>
                  <li><a href="#">Ecuador</a></li>
                  <li><a href="#">Peru</a></li>
                </ul>
              </li>
              <li><a href="#">Map (Coming Soon)</a></li>
              <li id="contact"><a href="">Contact</a></li>
            </ul>
          </nav>

          <!-- Section -->
          <section>
            <header class="major">
              <h2>Recent Blogs</h2>
            </header>
            <div class="mini-posts">
              <% @preview.each do |blog| %>
                <article>
                  <h3><%= blog.title%></h3>
                  <figure class="side-thumbnail">
                    <%= image_tag blog.image != nil && blog.image != '' ? blog.image : 'https://s3.amazonaws.com/colombia-rj-travels/default.jpg'%>
                  </figure>
                  <p><%= blog.article.first(200) + '...' %></p>
                  <ul class="actions">
                    <li> <td><%= link_to '<button> More </button>'.html_safe, blog %></td> </li>
                  </ul>
                </article>
              <%end %>
            </div>
            <ul class="actions">
              <li><a href="/blogs" class="button">All Blogs</a></li>
            </ul>
          </section>

          <!-- Section -->
          <section>
            <header class="major">
              <h2>Get in touch</h2>
            </header>
            <p>I do my best to reply to comments on the website and social media but email is always the best way to reach me .</p>
            <ul class="contact">
              <li class="fa-envelope-o"><a href="#">rikrdo.ortega@gmail.com</a></li>
              <li class="fa-phone">970-371-3862 (N/A if traveling)</li>
              <li class="fa-home">Lakewood, CO</li>
            </ul>
            <hr>
            <p> In case of emergency contact: </p>
            <h4> Edith Rincon </h4>
            <ul class="contact">
              <li class="fa-envelope-o"><a href="#">edith.rincon@yahoo.com</a></li>
            </ul>
          </section>

          <!-- Footer -->
          <footer id="footer">
            <p class="copyright">&copy; <a href="https://github.com/berto">berto</a>. All rights reserved. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
          </footer>
        </div>
      </div>
    </div>
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=1815236685453119";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
  </body>
</html>
